

.centerContent{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerContent a{
    font-size: 40px;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.centerContent a:hover {
    opacity: 0.5;
}

.centerContent img {
    margin-top: 20px;
}

body {
    height: 100%;
}