.sportsPageHeader {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
}

.sportGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto 0 auto;
}

.sportItem {
    text-align: center;
    margin-bottom: 40px;
}

.sportIcon {
    height: 100px;
    width: auto;
}

.sportName {
    font-weight: bolder;
    font-size: 18px;
    text-decoration: underline;
}